html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -960px;
   float:left
}
div#container
{
   width: 1080px;
   height: 1921px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #202125;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: none;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: none;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#wb_Close_Menu
{
   vertical-align: top;
}
#Close_Menu
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Open_Menu
{
   vertical-align: top;
}
#Open_Menu
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text1
{
   color: #000000;
   font-family: Georgia;
   font-weight: normal;
   font-size: 37px;
}
#wb_Text1 div
{
   text-align: justify;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text2
{
   color: #000000;
   font-family: Georgia;
   font-weight: normal;
   font-size: 37px;
}
#wb_Text2 div
{
   text-align: justify;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text4
{
   color: #000000;
   font-family: Georgia;
   font-weight: normal;
   font-size: 37px;
}
#wb_Text4 div
{
   text-align: justify;
}
#Line1
{
   border-color: #202125;
   border-style: solid;
   border-bottom-width: 1013px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont1
{
   height: 60px;
   width: 60px;
}
#IconFont1 i
{
   color: #000000;
   display: inline-block;
   font-size: 60px;
   line-height: 60px;
   vertical-align: middle;
   width: 59px;
}
#IconFont1:hover i
{
   color: #000000;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont2
{
   height: 60px;
   width: 60px;
}
#IconFont2 i
{
   color: #000000;
   display: inline-block;
   font-size: 60px;
   line-height: 60px;
   vertical-align: middle;
   width: 59px;
}
#IconFont2:hover i
{
   color: #000000;
}
#wb_IconFont3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont3
{
   height: 60px;
   width: 60px;
}
#IconFont3 i
{
   color: #000000;
   display: inline-block;
   font-size: 60px;
   line-height: 60px;
   vertical-align: middle;
   width: 59px;
}
#IconFont3:hover i
{
   color: #000000;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text6
{
   color: #000000;
   font-family: Georgia;
   font-weight: normal;
   font-size: 37px;
}
#wb_Text6 div
{
   text-align: justify;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text5
{
   color: #000000;
   font-family: Georgia;
   font-weight: normal;
   font-size: 37px;
}
#wb_Text5 div
{
   text-align: justify;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text3
{
   color: #000000;
   font-family: Georgia;
   font-weight: normal;
   font-size: 37px;
}
#wb_Text3 div
{
   text-align: justify;
}
#wb_IconFont4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont4
{
   height: 60px;
   width: 60px;
}
#IconFont4 i
{
   color: #000000;
   display: inline-block;
   font-size: 60px;
   line-height: 60px;
   vertical-align: middle;
   width: 59px;
}
#IconFont4:hover i
{
   color: #000000;
}
#wb_IconFont5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont5
{
   height: 60px;
   width: 60px;
}
#IconFont5 i
{
   color: #000000;
   display: inline-block;
   font-size: 60px;
   line-height: 60px;
   vertical-align: middle;
   width: 59px;
}
#IconFont5:hover i
{
   color: #000000;
}
#wb_IconFont6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   -webkit-animation: heartbeat-1 1000ms linear 0ms infinite normal both;
   animation: heartbeat-1 1000ms linear 0ms infinite normal both;
   vertical-align: top;
}
#IconFont6
{
   height: 97px;
   width: 97px;
}
#IconFont6 i
{
   color: #DC143C;
   display: inline-block;
   font-size: 97px;
   line-height: 97px;
   vertical-align: middle;
   width: 96px;
}
#IconFont6:hover i
{
   color: #FF0000;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text7
{
   color: #DC143C;
   font-family: Georgia;
   font-weight: normal;
   font-size: 48px;
}
#wb_Text7 div
{
   text-align: justify;
}
#wb_IconFont7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#IconFont7
{
   height: 60px;
   width: 60px;
}
#IconFont7 i
{
   color: #000000;
   display: inline-block;
   font-size: 60px;
   line-height: 60px;
   vertical-align: middle;
   width: 59px;
}
#IconFont7:hover i
{
   color: #000000;
}
#Menu
{
   background-color: rgba(251,251,251,0.00);
   background-image: url('images/Menu Panel.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%;
   border-radius: 0px;
}
#wb_Image10
{
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image7
{
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image5
{
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image8
{
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
